################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/eyeharp.ico
/bin/data/Xoxoxa.ttf
/bin/assimp.dll
/bin/9.sng
/bin/8.sng
/bin/7.sng
/bin/6.sng
/bin/5.sng
/bin/4.sng
/bin/3.sng
/bin/2.sng
/bin/10.sng
/bin/1.sng
/.vs/emptyExample/v15/Solution.VC.db
/.vs/emptyExample/v15/Browse.VC.db
/.vs/emptyExample/v15/.suo
/.vs/emptyExample/v14/.suo
/UpgradeLog.htm
/obj/src - Shortcut.lnk
/obj/Release/XORswitch.obj
/obj/Release/vc140.pdb
/obj/Release/tomidipie.obj
/obj/Release/tobii.obj
/obj/Release/switch.obj
/obj/Release/stepSequencer.obj
/obj/Release/song.obj
/obj/Release/slider.obj
/obj/Release/sequencerNote.obj
/obj/Release/RtMidi.obj
/obj/Release/recordChords.obj
/obj/Release/ofxRtMidiOut.obj
/obj/Release/ofxRtMidiIn.obj
/obj/Release/ofxMidiOut.obj
/obj/Release/ofxMidiMessage.obj
/obj/Release/ofxMidiIn.obj
/obj/Release/ofxMidi.obj
/obj/Release/ofxBaseMidi.obj
/obj/Release/ofApp.obj
/obj/Release/MyGaze.obj
/obj/Release/movingSwitch.obj
/obj/Release/main.obj
/obj/Release/loopedNote.obj
/obj/Release/icon.res
/obj/Release/gazeapi_socket.obj
/obj/Release/gazeapi_parser.obj
/obj/Release/gazeapi.obj
/obj/Release/EyeHarpVS.tlog/rc.write.1.tlog
/obj/Release/EyeHarpVS.tlog/rc.read.1.tlog
/obj/Release/EyeHarpVS.tlog/rc.command.1.tlog
/obj/Release/EyeHarpVS.tlog/link.write.1.tlog
/obj/Release/EyeHarpVS.tlog/link.read.1.tlog
/obj/Release/EyeHarpVS.tlog/link.command.1.tlog
/obj/Release/EyeHarpVS.tlog/EyeHarpVS.write.1u.tlog
/obj/Release/EyeHarpVS.tlog/EyeHarpVS.lastbuildstate
/obj/Release/EyeHarpVS.tlog/CL.write.1.tlog
/obj/Release/EyeHarpVS.tlog/CL.read.1.tlog
/obj/Release/EyeHarpVS.tlog/CL.command.1.tlog
/obj/Release/EyeHarpVS.lastbuildstate
/obj/Release/EyeHarpVS.Build.CppClean.log
/obj/Release/EyeHarp.obj
/obj/Release/eye.obj
/obj/Release/emptyExample.vcxprojResolveAssemblyReference.cache
/obj/Release/emptyExample.log
/obj/Release/DistinctControl.obj
/obj/Release/Disc.obj
/obj/Release/controlArpeggio.obj
/obj/Release/control.obj
/obj/Release/arpeggio.obj
/obj/Debug/XORswitch.obj
/obj/Debug/vc110.pdb
/obj/Debug/vc110.idb
/obj/Debug/tomidipie.obj
/obj/Debug/switch.obj
/obj/Debug/stepSequencer.obj
/obj/Debug/slider.obj
/obj/Debug/sequencerNote.obj
/obj/Debug/RtMidi.obj
/obj/Debug/rc.write.1.tlog
/obj/Debug/rc.read.1.tlog
/obj/Debug/rc.command.1.tlog
/obj/Debug/ofxRtMidiOut.obj
/obj/Debug/ofxRtMidiIn.obj
/obj/Debug/ofxMidiOut.obj
/obj/Debug/ofxMidiMessage.obj
/obj/Debug/ofxMidiIn.obj
/obj/Debug/ofxMidi.obj
/obj/Debug/ofxBaseMidi.obj
/obj/Debug/ofApp.obj
/obj/Debug/MyGaze.obj
/obj/Debug/movingSwitch.obj
/obj/Debug/main.obj
/obj/Debug/loopedNote.obj
/obj/Debug/link.write.1.tlog
/obj/Debug/link.read.1.tlog
/obj/Debug/link.command.1.tlog
/obj/Debug/link-rc.write.1.tlog
/obj/Debug/link-rc.read.1.tlog
/obj/Debug/link-cvtres.write.1.tlog
/obj/Debug/link-cvtres.read.1.tlog
/obj/Debug/icon.res
/obj/Debug/gazeapi_socket.obj
/obj/Debug/gazeapi_parser.obj
/obj/Debug/gazeapi.obj
/obj/Debug/EyeHarpVS_debug.Build.CppClean.log
/obj/Debug/EyeHarpVS.write.1.tlog
/obj/Debug/EyeHarpVS.lastbuildstate
/obj/Debug/EyeHarp.obj
/obj/Debug/eye.obj
/obj/Debug/emptyExample.vcxprojResolveAssemblyReference.cache
/obj/Debug/emptyExample.log
/obj/Debug/emptyExample.lastbuildstate
/obj/Debug/DistinctControl.obj
/obj/Debug/Disc.obj
/obj/Debug/controlArpeggio.obj
/obj/Debug/control.obj
/obj/Debug/CL.write.1.tlog
/obj/Debug/CL.read.1.tlog
/obj/Debug/cl.command.1.tlog
/obj/Debug/arpeggio.obj
/obj/bin - Shortcut.lnk
/icon.rc
/EyeHarp021.zip
/EyeHarp0204.zip
/EyeHarp0203.zip
/EyeHarp0202.zip
/EyeHarp0201.zip
/EyeHarp020.zip
/EyeHarp019.zip
/EyeHarp018.zip
/EyeHarp017.zip
/EyeHarp016.zip
/EyeHarp015.zip
/emptyExample.vcxproj.user
/emptyExample.vcxproj.filters
/emptyExample.vcxproj
/emptyExample.VC.VC.opendb
/emptyExample.VC.db
/emptyExample.v11.suo
/emptyExample.sdf
/emptyExample.opensdf
/bin/Zlib.dll
/bin/ssleay32.dll
/bin/libeay32.dll
/bin/glut32.dll
/bin/freetype.dll
/bin/FreeImage.dll
/bin/fmodexL.dll
/bin/fmodex.dll
/bin/EyeHarpVS.lib
/bin/EyeHarpVS.exp
/bin/EyeHarpVS.exe
/bin/eyeharpD.txt
/.vs/emptyExample/v15/ipch/AutoPCH
/.vs/emptyExample/v15
/.vs/EyeHarp
/.vs
/bin/EyeHarp.exe
/bin/EyeHarp.lib
/bin/EyeHarp.exp
/obj
/EyeHarp.VC.db
/EyeHarp.vcxproj.filters
/EyeHarp.vcxproj.user
/EyeHarp030
/EyeHarp030.zip
/EyeHarp.aps
/EyeHarp.VC.VC.opendb
/bin
/src/._EyeHarpVARS.h
